body {
	font-family: Roboto Mono;
	color: #222222;
}

h1, h2, h3 {
	letter-spacing: 1px;
	font-family: Roboto;
}

h1 {
	font-size: 36px;
	margin-top: 0;
}

.bottom {
	text-align: center;
	width:500px;
	margin: 0 auto;
	margin-top:60px;
}

.social {
	margin-top: 60px;
	list-style: none;
	padding:0;
}

.social li {
	display: inline-block;
}

.social i {
	margin: 0;
	width: auto;
	font-size: 26px;
	padding: 10px;
	color: #bdc3c7;
}

.cta-text {
	height: 65px;
	display: none;
}

.content {
	max-width: 850px;
	margin: 0 auto;
	padding-top: 100px;
}

.content .top {
	display: flex;
}

.profile-pic {
	height: 300px;
	flex-shrink: 0;
}
.info {
	display: inline-block;
	margin-left: 60px;
}

a {
	color: #3498db;
}

a:hover {
	opacity: .7;
}

section article {
	display: flex;
}

section {
	padding: 60px;
	border-left: 6px solid;
	margin: 90px 0;
}

section p:first-child {
	margin-top:0;
}
section header {
	display: flex;
	margin-bottom: 40px;
}

section h1 {
	margin:0;
	line-height: 1;
}

section .date {
	text-transform: uppercase;
	color: #bdc3c7;
	letter-spacing: 1px;
	flex-grow: 1;
	text-align: right;
	align-self: flex-end;
}

section.spring {
	border-left-color: #f7b717;
}

section.saggezza {
	border-left-color: #e74c3c;
}

section.research {
	border-left-color: #258c75;
}
section.amazon {
	border-left-color: #ff9900;
}
section.conf {
	border-left-color: #27ae60;
}

section h1 .fa {
	font-size: 24px;
	margin-left: 6px;
}

section img {
	height: 200px;
	margin-right: 60px;
	flex-shrink: 0;
}

#research-pic {
	height: 200px;
	margin-left: 60px;
	margin-right:0;
}

#masterpass-pic {
	height: 175px;
}


#spring-pic {
	height: 150px;
	margin-left: 60px;
	margin-right:0;
}

#sparta-pic {
	height: 175px;
	margin-left: 60px;
	margin-right:0;
}


@media (max-width: 650px) {
	.content {
		margin:12px;
		padding-top: 20px;
	}

	.top {
		flex-direction: column;
	}

	.profile-pic {
		height: auto;
		width: 100%;
		max-width: 350px;
		align-self: center;
		margin-bottom: 20px;
	}

	.info {
		margin:0;
	}

	.bottom {
		width: 100%;
	}


	section p:first-child {
		margin-top: 16px;
	}

	section {
		padding: 20px;
		margin: 30px 0;
	}

	section header {
		flex-direction: column;
	}

	section header .date {
		align-self: flex-start;
	}

	section article {
		flex-direction: column-reverse;
	}

	section.saggezza article,
	section.amazon article,
	section.conf article {
		flex-direction: column;
	}

	section article img {
		margin: 0 !important;
		width: 100% !important;
		height: auto !important;
	}

	section header {
		margin-bottom: 20px;
	}
}
